{% extends 'layouts/base.html' %}


{%block content%}

<h1>Taks</h1>

{% for task in tasks %}
<div class="task">
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
    <!-- <p>{{ task.done }}</p> -->
    {#TO DO: esta es una tarea, comentario en el servidor#}
    {%if task.done == True%}
    <p style="color: green;">Tarea realizada ✅</p>
    {%else%}
    <p style="color: red;">Tarea pendiente ❌</p>
    {%endif%}

    <p>{{ task.id }}</p>
    <p>Proyecto: {{task.project.name}}</p>
    <button type="button">Delete</button>
    <button type="button">Update</button>
    <button type="button">Check ✔</button>
    <button type="button">unCheck ❌</button>
</div>
{% endfor %}

<hr />
<ul>
    {% for task in tasks %}
    <li>{{ task.title }} - {{ task.id }} - {{ task.description }} - {{ task.done }} - {{ task.project.name }}</li>
    {% endfor %}
</ul>

{%endblock%}