{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django projects</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>

<body>

    <nav class="navbar ">
        <ul>
            <!-- <li><a href="/myapp">Home</a></li> -->
            <li><a href="{% url 'index' %}">Home</a></li>
            <!-- <li><a href="/myapp/projects">Proyectos</a></li> -->
            <li><a href="{% url 'projects_lista' %}">Proyectos</a></li>
            <!-- <li><a href="/myapp/tasks">Tareas</a></li> -->
            <li><a href="{% url 'tasks_lista' %}">Tareas</a></li>
            <!-- <li><a href="/myapp/about">About</a></li> -->
            <li><a href="{% url 'about' %}">About</a></li>
            <!-- <li><a href="/myapp/tasks/create">Crear Tarea</a></li> -->
            <li><a href="{% url 'create_task' %}">Crear Tarea</a></li>
            <!-- <li><a href="/myapp/projects/create">Crear Proyecto</a></li> -->
            <li><a href="{% url 'create_project' %}">Crear Proyecto</a></li>
        </ul>
    </nav>

    <main class="container">
        {%block content%}
        {%endblock%}
    </main>
    <h3>TUTORIAL SACADO DE https://www.youtube.com/watch?v=T1intZyhXDU</h3>
</body>

</html>