{% extends 'layouts/base.html' %}

<!-- INICIO BODY IMPORTABLE -->
{%block content%}

<h1>Projects</h1>

<!-- <p>{{projects}}</p> -->
<ul>
    {% for project in projects %}
    <li>{{ project.name }}</li>
    {% endfor %}
</ul>

<hr>


{% for project in projects %}
<article>
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>
    <p>{{ project.id }}</p>
    <p>{{ project.url }}</p>
    <button type="button">Delete</button>
    <button type="button">Update</button>
</article>
{% endfor %}

{%endblock%}
<!-- FIN BODY IMPORTABLE -->